# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List Data Science tools
- Introduce simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1) Python
2) SQL
3) R
4) Java

Some of the commonly used libraries used by Data Scientists include:
1) NumPy
2) Matplotlib
3) Pandas
4) SciPy...

|Data Science Tools|
----
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/6 # This will convert 200 minutes to hours by diving by 60

33.333333333333336

## Author
Filippo Bramante